{% extends "base.html.twig" %}

{% block title %}Authorize {{ client.name }}{% endblock %}

{% block header %}{{ client.name }}{% endblock %}

{% block content %}
    <p class="lead">{{ client.name }} is requesting you to authenticate.</p>
    <p>By clicking on "Agree" you are authorizing {{ client.name }} to access the below selected information.</p>
    <p class="alert alert-info"><b>{{ client.name }}:</b><br/>{{ client.description }}</p>
    <form class="form-horizontal" action="/authorize/grant" method="POST">
        <input type="hidden" name="page_token" value="{{ page_token }}" />
        <input type="hidden" name="client_id" value="{{ client.client_id }}" />
        <input type="hidden" id="scope" name="scope" />
        <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
        {% if client.scope.available is not empty %}
            <div class="well">
                <p>You are authorizing access to:</p>
                {% for scope in client.scope.available %}
                        {% if scope in client.scope.required %}
                            <input type="checkbox" id="{{ scope }}" name="{{ scope }}" disabled checked="true"/>
                            <label for="{{ scope }}" disabled>
                        {% else %}
                            <input type="checkbox" id="{{ scope }}" name="{{ scope }}" checked="true" />
                            <label for="{{ scope }}">
                        {% endif %}
                    <span class=pull-left></span>
                        <b>{{ scope|replace({'_': ' '})|capitalize|replace({'Email':'E-Mail'}) }}</b>
                        <br>
                        <small>
                            {{ client.scope.info[scope] }}
                        </small>
                    </label>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ client.name }} doesn't need any of your information, therefore you will stay anonymous to this client.</p><br>
        {% endif %}
        <button type="submit" class="btn btn-success">Agree</button>
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // set scope value right
        function generateScopeValue() {
            var scope = [];
            var checkboxes = $(':checkbox');
            $.each(checkboxes, function() {
                if (this.checked) {
                    scope.push(this.getAttribute('id'));
                }
            });
            var json = JSON.stringify(scope);
            $('#scope').val(json);
        }
        generateScopeValue();
    </script>
{% endblock %}