{% extends "base.html.twig" %}

{% block title %}{{ error.error }}{% endblock %}

{% block content %}
    <div class="well well-large" xmlns="http://www.w3.org/1999/html">
        <h1>{{ client }} is requesting your datas!</h1>
        <p>Click "Agree" to allow sharing of your ActiveDirectory information with {{ client }}.</p>
        <form class="form-horizontal">
            <p>You are authorizing access to:</p>
            {% for scope in scopes %}
                <label class="checkbox">
                    <input type="checkbox" value="{{ scope }}" id="{{ scope }}" checked="true">
                    {{ scope|replace({'_': ' '})|capitalize }}
                </label>
            {% endfor %}
            <button type="submit" class="btn btn-success">Agree</button>
        </form>
    </div>
{% endblock %}