{% extends "base.html.twig" %}

{% block title %}{{ client.name }} - Client{% endblock %}

{% block header %}{{ client.name }}{% endblock %}

{% block content %}
    <p class="pull-right">
        <a class="btn btn-danger" href="#delete" data-toggle="modal">
            <i class="icon-remove-sign icon-white"></i> Delete
        </a>
        <a class="btn btn-primary" href="/client/_{{ client.id }}/edit">
            <i class="icon-edit icon-white"></i> Edit
        </a>
    </p>
    <dl>
        <dt>Name</dt>
        <dd>{{ client.name }}</dd><br/>
        <dt>Description</dt>
        <dd>{{ client.description }}</dd><br/>
        <dt>Host</dt>
        {% if client.host is empty %}
            <dd>Host is not defined.</dd><br/>
        {% else %}
            <dd>{{ client.host | join(', ' )}}</dd><br/>
        {% endif %}
        <dt>Redirect URI</dt>
        <dd>{{ client.redirect_uri }}</dd><br/>
        <dt>Default scope</dt>
        {% if client.default_scope is empty %}
            <dd>None <br/>
                <small>
                    Yay, you have earned one Internetz for being awesome. =)
                </small>
            </dd><br/>
        {% else %}
            <dd>{{ client.default_scope | join(', ') }}</dd><br/>
        {% endif %}
        <dt>Client-ID</dt>
        <dd><pre>{{ client.client_id }}</pre></dd><br/>
        <dt>Client-Secret <i id="cs_hint" class="icon-question-sign"></i></dt>
        <dd><pre>{{ client.client_secret }}</pre></dd>
    </dl>
    <div class="pull-right">
        <form action="/client/_{{ client.id }}/new_credentials" method="POST">
            <input type="hidden" name="page_token" value="{{ page_token }}">
            <i id="rc_hint" class="icon-question-sign"></i>
            <button class="btn btn-danger" type="submit">Renew Client-ID & Client-Secret</button>
        </form>
    </div>

    <div id="delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Delete "{{ client.name }}"?</h3>
        </div>
        <div class="modal-body">
            <p class="lead">You are about to delete your client "{{ client.name }}"!</p>
            <p>Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer">
            <form action="/client/_{{ client.id }}/delete" method="POST">
                <input type="hidden" name="page_token" value="{{ page_token }}">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // tooltips
        $('#cs_hint').tooltip({title:'Treat this as if its your most important password.'});
        $('#rc_hint').tooltip({title:'This will invalidate and replace your credentials.'});
    </script>
{% endblock %}