{% extends "base.html.twig" %}

{% set available_scopes = ['kennung', 'name', 'email', 'groups'] %}

{% block title %}New Client{% endblock %}

{% block header %}Register a new client{% endblock %}

{% block content %}
    <form action="/client/register" method="POST" class="form-horizontal">
        <input type="hidden" name="page_token" value="{{ page_token }}">
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="name"/></dd><br/>
            <dt>Description <i id="desc_hint" class="icon-question-sign icon-white"></i></dt>
            <dd><textarea name="description" rows="3"></textarea></dd><br/>
            <dt>Host <i id="host_hint" class="icon-question-sign icon-white"></i></dt>
            <dd><input type="text" name="host"/></dd><br/>
            <dt>Redirect URI <i id="ru_hint" class="icon-question-sign icon-white"></i></dt>
            <dd><input type="text" name="redirect_uri"/></dd><br/>
            <dt>Scope <i id="scope_hint" class="icon-question-sign icon-white"></i></dt>
            <dd>
                <input type="hidden" name="scope" id="scope">
                <table class="table table-bordered table-condensed" style="width:0;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">scope</th>
                            <th style="text-align:center;">available <i id="sa_hint" class="icon-question-sign icon-white"></i></th>
                            <th style="text-align:center;">required <i id="sr_hint" class="icon-question-sign icon-white"></i></th>
                            <th style="text-align:center;">info <i id="si_hint" class="icon-question-sign icon-white"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for scope in available_scopes %}
                            <tr>
                                <td>{{ scope }}</td>
                                <td style="text-align:center;"><input type="checkbox" id="{{ scope }}" onchange="updateScope('{{ scope }}')"></td>
                                <td style="text-align:center;"><input type="checkbox" id="r_{{ scope }}" onchange="updateScopeRequired('{{ scope }}')" disabled="true"></td>
                                <td><input type="text" class="scope_info" id="i_{{ scope }}" onchange="updateScopeInfo('{{ scope }}')" disabled="true"/></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </dd>
        </dl>
        <button type="submit" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i> Register client
        </button>
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // tooltips
        $('#desc_hint').tooltip({title:'A brief description of the clients functionality and purpose.'});
        $('#host_hint').tooltip({title:'The host from which client calls are allowed (either IP or Hostname). Multiple hosts are separated with a comma.'});
        $('#ru_hint').tooltip({title:'The URL to which the user gets redirected after successfull authentication.'});
        $('#scope_hint').tooltip({title:'Please only select the information you really need for your service.'});
        $('#sa_hint').tooltip({title:'The user has the option to grant access to this information to proceed.'});
        $('#sr_hint').tooltip({title:'The user must grant access to this information to proceed.'});
        $('#si_hint').tooltip({title:'Explain what you use this information for. (transparency improves trust)'});
        $('#cs_hint').tooltip({title:'Treat this as if its your most important password.'});
    </script>
    <script src="/js/scope.js"></script>
{% endblock %}