{% extends "base.html.twig" %}

{% block title %}Clients{% endblock %}

{% block header %}Clients{% endblock %}

{% block content %}
    <p class="lead">Welcome to the client management section. You can edit, remove and add new clients here.</p>
    <div class="alert alert-error" id="js_alert">
        <h3>JavaScript not working!</h3>
        JavaScript execution is required for the client management. It seems that JavaScript is not properly working, please fix that before continuing.
    </div>
    {% if success is defined %}
        <div class="alert alert-success">
            <b>{{ success.title }}:</b><br>{{ success.message }}
        </div>
    {% endif %}
    <p>
    <a href="/client/new" class="btn btn-primary">
        <i class="icon-plus-sign icon-white"></i> Register a new client
    </a></p>
    {% if clients is not empty %}
        <table class="table table-bordered table-hover table-condensed">
            <caption>Your clients:</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="/client/_{{ client.id }}">{{ client.name }}</a>
                    </td>
                    <td>
                        {{ client.description }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You are currently not managing any clients. Add a new client by clicking on the button. =)</p>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('#js_alert').remove();
    </script>
{% endblock %}